* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    color: #98a6bd;
    background-color: #e5eff5;
}

.card-container {
    background-color: #fff;
}
